<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>audy sagt</title>
</head>
<body>
	<div class="container">
		<nav class="hidden"><img src="images/smiley.gif"><h4>audysagt</h4></nav>
		<div class="tweet-wrapper"
			<ul><% @tweets.each do |tweet| %>
						<li><span id="audy" style='color:#<%= "%06x" % (rand * 0xffffff) %>'>audy sagt: </span><span id="tweet"><%= tweet %></span></li>
					<% end %>
			</ul>
		</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript">
	$(function(){
		$('body').mousemove(function(){
				$('nav').removeClass('hidden');
				setTimeout(function () {
			 $('nav').addClass("hidden");
		 }, 2000)

			});
		});
</script>
</html>
