<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>audy sagt</title>
</head>
<body>
	<div class="container">
		<div class="tweet-wrapper"
			<ul><% @tweets.each do |tweet| %>
						<li><span id="audy" style='color:#<%= "%06x" % (rand * 0xffffff) %>'>Audy sagt: </span><span id="tweet"><%= tweet %></span></li>
					<% end %>
			</ul>
		</div>
</div>
</body>
</html>
