<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<title></title>
</head>
<body>
	<h3><% tweets.each do |tweet| %>
				<h2>Audy sagt:</h2> <%= tweet %>
			<% end %>
	</h3>
	<h1>
		<%=  %>
	</h1>
</body>
</html>

