* {
	font-family: 'Menlo';
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
}

nav {
	position: absolute;
	width: 10%;
}

img {
	margin: 0;
	padding: 0px 0 0 0;
	width: 50%;
}

form {
	text-align: center;
	padding: 20px;
}

button {
	background-color: #ecf0f1;
	font-size: 12px;
	border: none;
	padding: 10px;
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
	background-color: #1abc9c;
}

.lang-selected {
	background-color: #9b59b6;
}

.hidden {
	display: none;
}

.tweet-wrapper {
	display: block;
	margin: 0 auto;
	width: 50%;
}

li {
	background-color: #ecf0f1;
	list-style: none;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
}

#audy {
	font-size: 22px;
	font-weight: 700;
	margin: 0 5px 10px 0;
}

#tweet {
	text-align: justify;
	font-size: 18px;
}

a,
.time {
	padding-top: 5px;
	font-size: 10px;
	text-decoration: none;
	color: #9b59b6;
}

.time {
	color: #000;
}

a:hover {
	color: #1abc9c;
}

@media (max-width: 500px) {
	nav {
		width: 20%;
	}

	h4 {
		display: none;
	}

  .tweet-wrapper {
    width: 80%;
	}

	.audy {
		font-size: 18px;
	}

	.tweet {
		font-size: 16px;
	}

}
